In [2]:
import pandas as pd
df = pd.read_csv('/content/drive/My Drive/Data /titanic.csv')

In [3]:
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [4]:
df1 = df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis =1)

In [5]:
df1.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [24]:
import math

In [26]:
df1['Age'] = df1['Age'].fillna(df1['Age'].mean)

In [27]:
inputs = df1.drop(['Survived'],axis = 1)

In [28]:
df1.head(10)

   Survived  Pclass  ...                                                Age     Fare
0         0       3  ...                                                 22   7.2500
1         1       1  ...                                                 38  71.2833
2         1       3  ...                                                 26   7.9250
3         1       1  ...                                                 35  53.1000
4         0       3  ...                                                 35   8.0500
5         0       3  ...  <bound method Series.mean of 0      22.0\n1   ...   8.4583
6         0       1  ...                                                 54  51.8625
7         0       3  ...                                                  2  21.0750
8         1       3  ...                                                 27  11.1333
9         1       2  ...                                                 14  30.0708

[10 rows x 5 columns]

In [9]:
inputs.head()

   Pclass     Sex Age     Fare
0       3    male  22   7.2500
1       1  female  38  71.2833
2       3  female  26   7.9250
3       1  female  35  53.1000
4       3    male  35   8.0500

In [10]:
target = df1['Survived']

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
le_sex = LabelEncoder()

In [13]:
inputs['Sex_n'] = le_sex.fit_transform(inputs['Sex'])

In [14]:
inputs.head()

   Pclass     Sex Age     Fare  Sex_n
0       3    male  22   7.2500      1
1       1  female  38  71.2833      0
2       3  female  26   7.9250      0
3       1  female  35  53.1000      0
4       3    male  35   8.0500      1

In [15]:
inputs1 = inputs.drop(['Sex'], axis = 1)

In [16]:
import math

In [17]:
inputs1.Age = inputs1.Age.fillna(inputs1.Age.mean())

TypeError: ignored

In [ ]:
inputs1.head(10)

In [ ]:
from sklearn import tree

In [ ]:
reg = tree.DecisionTreeClassifier()

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(inputs1, target, test_size = 0.2)

In [ ]:
len(X_train)

In [ ]:
reg.fit(X_train, y_train)